:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'BukhariScript';
  src: url('fonts/BukhariScript-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
h1, h2, h3 {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
article {
  font-size: 18px;
}
.navigation {
  padding: 30px 0px;
  background: #F1F1FB;
}
.navigation nav {
  display: flex;
  justify-content: end;
}
.navigation nav a {
  margin: 0px 20px;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
}
.logo-left {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.logo-right {
  display: flex;
  align-items: center;
}
.logo-title {
  font-size: 45px;
  font-family: 'BukhariScript';
}
.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s .7s both;
	        animation: bounce-in-top 1.1s .7s both;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.logo-secondary {
  font-size: 30px;
  line-height: 25px;
  letter-spacing: 5px;
}
.logo-icon {
  width: 35px;
  height: 35px;
  background-color: #ff6f61;
  position: absolute;
  border-radius: 50%;
  margin: -10px 0px 0px 12px;
}

.home-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-banner-image {
  width: 100%;
  height: auto;
  margin-bottom: -50px;
}
.web-section {
  padding: 70px 0px;
}
.company-container {
  width: 90%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container {
  display: flex;
}
.nav-links {
  display: flex;
  justify-content: end;
  align-items: center;
}
.menu-item {
  padding: 0px 20px;
  text-decoration: none;
  color: #000;
}
.logo {
  height: auto;
  width: 400px;
}
.company-cta {
  border-radius: 30px;
  background: #ff6f61;
  padding: 10px 25px;
  text-decoration: none;
  color: #fff;
  width: fit-content;
}
.homepage {
  margin-top: -100px;
}
.banner-content-row {
  padding-bottom: 50px;
}
.home-banner {
  background: #F1F1FB;
  padding: 120px 0px 60px 0px;
}
.home-banner-subheader {
  margin-bottom: 20px;
}
.screen-image {
  height: 300px;
}
.home-banner-lines-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: end;
  padding: 0px 0px 60px 0px;
}
.home-banner-lines {
  background: #0A21BF;
  width: 10vw;
  height: 4px;
  margin: 5px 0px;
}
.line-1 {
  margin: 0px 0px 5px 0px;
}
.partners-logo-container {
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 0 0 20px #F1F1FB;
}
.partners-container img {
  width: 200px;
}
.piller-group {
  display: flex;
}
.piller-image {
  height: 300px;
  width: 100px;
  margin-right: 50px;
  background: #000;
  transition: 
    transform 730ms ease-in-out,
    margin-right 1.5s ease-in-out;
}
.slide-in-right-line-1 {
-webkit-animation: slide-in-right-line-1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right-line-1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right-line-1 {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right-line-1 {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right-line-2 {
-webkit-animation: slide-in-right-line-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
        animation: slide-in-right-line-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
}

@-webkit-keyframes slide-in-right-line-2 {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right-line-2 {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.services {
  background: #0A21BF;
  padding: 60px 0px;
  color: #fff;
}
.service-header {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 15px;
}
.serivces-title {
  font-size: 25px;
  padding-bottom: 15px;
  font-weight: 700;
}
.services-description {
  margin-top: 15px;
}
.services-lines-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 60px 0px 30px 0px;
}
.services-banner-lines {
  background: #fff;
  width: 10vw;
  height: 4px;
  margin: 5px 0px;
}
.services-details {
  /* border-top: 20px solid #fff;
  border-left: 20px solid #fff;
  border-bottom: 20px solid #fff;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 30px; */
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  outline: 20px solid #fff;
  background: #F1F1FB;
  color: #000;
}
.services-container .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.line-1 {
  width: 80%;
}
.line-2 {
  width: 60%;
}
.line-3 {
  width: 70%;
}
.line-4 {
  width: 65%;
}
.line-5 {
  width: 90%;
}
.services-lines-container .slide-in-left-line-1 {
  opacity: 0;
}
.services-lines-container .slide-in-left-line-2 {
  opacity: 0;
}
.services-in-view .slide-in-left-line-1 {
-webkit-animation: slide-in-left-line-1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left-line-1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-left-line-1 {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left-line-1 {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.services-in-view .slide-in-left-line-2 {
-webkit-animation: slide-in-left-line-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
        animation: slide-in-left-line-2 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both;
}
@-webkit-keyframes slide-in-left-line-2 {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left-line-2 {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.web-design-details {
    padding: 30px;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.about-container-home {
  background: url('/images/me.jpg');
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70%;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  outline: 20px solid #F1F1FB;
}
.about-content {
  padding-left: 50px;
}
.about-page-hero {
  background: url('/images/about-me-hero.png');
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding: 50px 0px;
}
.acomplishments {
  min-height: 500px;
  padding: 50px 0;
}
.acomplishments-in-view .piller-image {
  transform: translateY(450px);
  margin-right: 0px;
}
.acomplishments-not-in-view .piller-image {
  transform: translateY(40px);
  margin-right: 50px;
}
.cta-section {
  background-color: #0A21BF;
}
.form-border {
  border-radius: 30px;
  padding: 20px;
  outline: 20px solid #F1F1FB;
  background: #fff;
}
.form-text-border {
  border-radius: 30px;
  padding: 50px;
  outline: 20px solid #0A21BF;
  margin: 50px -50px 0px 0px;
}
.footer {
  background: #F1F1FB;
}
#toggleButton {
  display: none;
}
.offcanvas {
  position: fixed;
  top: 0;
  right: -100%; /* Hidden off-screen initially */
  width: 300px;
  height: 100%;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease; /* Smooth slide-in effect */
  overflow-y: auto;
  z-index: 1000;
}

.offcanvas.open {
  right: 0;
  visibility: inherit;
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #e9ecef;
  border-bottom: 1px solid #ddd;
}

.offcanvas-body {
  padding: 1rem;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 767px) {
  .logo {
    width: 250px;
  }
  #toggleButton {
    display: inline;
  }
  .desktop-nav {
    display: none !important;
  }
  .services-container .row {
    margin: 0px 20px;
  }
  .services-container .col-md-4 {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .mobile-service-wrap {
    background-color: #000;
    margin: 5px;
    padding: 10px;
    display: flex;
    border-radius: 30px;
  }
  .mobile-service-wrap h4 {
    margin-bottom: 0px !important;
  }
  .services-details {
    padding: 0px 0px;
    margin-top: 40px;
  }
  .form-text-border {
    margin: unset;
  }
  .contact-form, .about-me-home {
    margin: 0px 20px;
  }
  .about-content {
    padding-left: 0px;
    padding-top: 50px;
  }
}